<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{# Bootstrap #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

		{# favicon #}
		<link rel="icon" href="/public/favicon-black.ico"/>

		{# javascript #}
		<script src="js/changeFavicon.js"></script>

		{# css #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<link rel="stylesheet" href="css/common.css" type="text/css"/>
		<link rel="stylesheet" href="css/detail.css" type="text/css"/>

		{# title #}
		<title>PhotoStudio -ホーム-</title>
	</head>

	<body>
		{% include 'common/header.html.twig' %}

		<form method="post" action="cart.php">
			<div id="detail-body">
				<div id="img-div">
					<div id="sample-img-div">
						<h2>画像（サンプル）</h2>
						<img id="sample-img" src="public/sample/{{photoArr.sample_url}}">
					</div>
				</div>

				<div id="img-info">
					<div id="title-div">
						<div>タイトル</div>
						<div id="img-title" class="info-str">
							{{photoArr.photo_title}}
						</div>
					</div>
					<div id="client-name-div">
						<div>登録者名</div>
						<div id="img-client" class="info-str">
							{{photoArr.username}}
						</div>
					</div>
					<div id="category-div">
						<div>カテゴリー</div>
						<div id="img-category" class="info-str">
							{{photoArr.category}}
						</div>
					</div>
					<div id="tags-div">
						<div>タグ</div>
						<div id="tags">
							{% for value in photoArr.tags %}
								<div class="img-tag">{{value}}</div>
							{% endfor %}
						</div>
					</div>
					<div id="price-div">
						<div>
							価格
						</div>
						<div id="img-price" class="info-str">
							¥<span id="price">{{photoArr.price}}</span>-
						</div>
					</div>
					<div id="upload-date-div">
						<div>
							投稿日
						</div>
						<div id="img-upload-date" class="info-str">
							{{photoArr.upload_date}}
						</div>
					</div>
					<div class="red">
						{% if isCustomer == false %}
							商品のご購入には購入者登録が必要です
						{% endif %}
					</div>
					<div id="submit-form">
						<input type="hidden" name="photo_id" value="{{photoArr.photo_id}}">
						{% if isCustomer == true %}
							<input type="submit" name="added" value="カートに追加する">
						{% endif %}
						<input type="button" value="ホームに戻る" onclick="location.href='home.php'">
					</div>
				</div>
			</div>
		</form>
		<script src="js/addCommas.js"></script>

		{# Bootstrap #}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	</body>
</html>
